---
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <div class="space-y-16">
    <div class="space-y-8">
      <h2
        class="relative text-2xl font-bold after:absolute after:-bottom-1 after:left-0 after:h-1 after:w-full after:bg-current/10"
      >
        Education
      </h2>
      <div class="grid grid-cols-1 gap-x-8 gap-y-4 md:grid-cols-[200px_1fr]">
        <p class="text-current/50 tabular-nums">10/2016 - 01/2019</p>
        <div>
          <p class="font-semibold">PhD in Computational Systems Neuroscience</p>
          <p>Computational Systems Neuroscience, University of Cologne</p>
          <p>
            Thesis: Circuit motifs for sensory integration, learning, and the
            initiation of adaptive behavior in Drosophila, with distinction
            (0.7)
          </p>
          <p>Advisor: Martin Nawrot, Examiners: Martin Nawrot, Kei Ito</p>
        </div>
        <p class="text-current/50 tabular-nums">10/2016 - 01/2019</p>
        <div>
          <p class="font-semibold">M. Sc. Neuroscience</p>
          <p>University of Cologne</p>
          <p>
            Thesis: Learning induced plasticity in a spiking network model
            inspired by the Drosophila olfactory system
          </p>
        </div>
        <p class="text-current/50 tabular-nums">09/2012 - 07/2016</p>
        <div>
          <p class="font-semibold">Bc. Sc. Psychology</p>
          <p>University of Mannheim</p>
          <p>
            Thesis: The contribution of automatic and controlled cognitive
            processes in forming memory of valent stimuli and their context
          </p>
        </div>
      </div>
    </div>
    <div class="space-y-8">
      <h2
        class="relative text-2xl font-bold after:absolute after:-bottom-1 after:left-0 after:h-1 after:w-full after:bg-current/10"
      >
        Research Experience
      </h2>
      <div class="grid grid-cols-1 gap-x-8 gap-y-4 md:grid-cols-[200px_1fr]">
        <p class="text-current/50 tabular-nums">06/2025 - present</p>
        <div>
          <p class="font-semibold">Research Associate</p>
          <p>
            Department of Physiology, Development and Neuroscience (Marta Zlatic
            & Albert Cardona)
          </p>
          <p>University of Cambridge</p>
        </div>
        <p class="text-current/50 tabular-nums">04/2025 - present</p>
        <div>
          <p class="font-semibold">Research Associate</p>
          <p>Computational Neuroscience Laboratory (Claudia Clopath)</p>
          <p>Bioengineering</p>
          <p>Imperial College London</p>
        </div>
        <p class="text-current/50 tabular-nums">11/2023 - 02/2025</p>
        <div>
          <p class="font-semibold">Postdoctoral Researcher</p>
          <p>Computational Systems Neuroscience (Martin Nawrot)</p>
          <p>Zoology</p>
          <p>University of Cologne</p>
        </div>
        <p class="text-current/50 tabular-nums">09/2019 - 11/2023</p>
        <div>
          <p class="font-semibold">Doctoral Student</p>
          <p>Computational Systems Neuroscience (Martin Nawrot)</p>
          <p>Zoology</p>
          <p>University of Cologne</p>
        </div>
        <p class="text-current/50 tabular-nums">10/2017 - 11/2017</p>
        <div>
          <p class="font-semibold">Research Internship</p>
          <p>Computational Systems Neuroscience (Martin Nawrot)</p>
          <p>Zoology</p>
          <p>University of Cologne</p>
        </div>
        <p class="text-current/50 tabular-nums">07/2016 - 10/2016</p>
        <div>
          <p class="font-semibold">Research Assistant</p>
          <p>Systems Neuroscience (Christian Büchel)</p>
          <p>University Hospital Hamburg (UKE)</p>
        </div>
        <p class="text-current/50 tabular-nums">02/2016 - 07/2016</p>
        <div>
          <p class="font-semibold">Research Internship</p>
          <p>Clinical Psychology (Tania Lincoln)</p>
          <p>University of Hamburg</p>
        </div>
        <p class="text-current/50 tabular-nums">08/2015 - 12/2015</p>
        <div>
          <p class="font-semibold">Research Internship</p>
          <p>Cognitive Sciences (Sverker Sikström)</p>
          <p>Lund University</p>
        </div>
        <p class="text-current/50 tabular-nums">03/2013 - 07/2015</p>
        <div>
          <p class="font-semibold">Research Assistant</p>
          <p>Cognitive Psychology and Statistics (Thorsten Meiser)</p>
          <p>University of Mannheim</p>
        </div>
      </div>
    </div>
    <div class="space-y-8">
      <h2
        class="relative text-2xl font-bold after:absolute after:-bottom-1 after:left-0 after:h-1 after:w-full after:bg-current/10"
      >
        Publications
      </h2>
      <div>
        <h3 class="mb-4 text-xl font-semibold">Journal Articles</h3>
        <div class="grid grid-cols-1 gap-x-8 gap-y-4 md:grid-cols-[200px_1fr]">
          <p class="text-current/50 tabular-nums">2025</p>
          <div>
            <p class="text-sm text-current/60">
              Panagiotis Sakagiannis, Anna-Maria Jürgensen, and Martin P. Nawrot
            </p>
            <p>
              A behavioral architecture for realistic simulations of drosophila
              larva locomotion and foraging
            </p>
            <p>eLife, page 14:RP104262</p>
          </div>
          <p class="text-current/50 tabular-nums">2025</p>
          <div>
            <p class="text-sm text-current/60">
              El Yazid Rachad, Stephan Hubertus Deimel, Lisa Epple, Yogesh
              Vasant Gadgil, Anna-Maria Jürgensen, Magdalena Springer, Chen-Han
              Lin, Martin Paul Nawrot, Suewei Lin, and André Fiala
            </p>
            <p>
              Functional dissection of a neuronal brain circuit mediating
              higher-order associative learning
            </p>
            <p>Cell Reports, volume 44, page 115593</p>
          </div>
          <p class="text-current/50 tabular-nums">2024</p>
          <div>
            <p class="text-sm text-current/60">
              Anna-Maria Jürgensen, Felix Johannes Schmitt, and Martin Paul
              Nawrot
            </p>
            <p>
              Minimal circuit motifs for second-order conditioning in the insect
              mushroom body
            </p>
            <p>Frontiers in Physiology, volume 14, page 1326307</p>
          </div>
          <p class="text-current/50 tabular-nums">2024</p>
          <div>
            <p class="text-sm text-current/60">
              Anna-Maria Jürgensen, Panagiotis Sakagiannis, Michael Schleyer,
              Bertram Gerber, and Martin P. Nawrot
            </p>
            <p>
              Prediction error drives associative olfactory learning and
              conditioned behavior in a spiking model of drosophila larva
            </p>
            <p>iScience, volume 27, page 108640</p>
          </div>
          <p class="text-current/50 tabular-nums">2021</p>
          <div>
            <p class="text-sm text-current/60">
              Anna-Maria Jürgensen, Afshin Khalili, Elisabetta Chicca, Giacomo
              Indiveri, and Martin P. Nawrot
            </p>
            <p>
              A neuromorphic model of olfactory processing and sparse coding in
              the drosophila larva brain
            </p>
            <p>Neuromorphic Computing and Engineering, volume 1, page 024008</p>
          </div>
          <p class="text-current/50 tabular-nums">2016</p>
          <div>
            <p class="text-sm text-current/60">
              Sverker Sikström, Anna-Maria Jürgensen, Maryam Haghighi, Daniel
              Månsson, David Smidelik, and Thomas Habekost
            </p>
            <p>
              Self-rated attentiveness interacts with transcranial direct
              current stimulation and noise stimulation in reaction time in a
              go/no-go task
            </p>
            <p>Neural plasticity, volume 2016</p>
          </div>
        </div>
      </div>
      <div>
        <h3 class="mb-4 text-xl font-semibold">Conference Poster</h3>
        <div class="grid grid-cols-1 gap-x-8 gap-y-4 md:grid-cols-[200px_1fr]">
          <p class="text-current/50 tabular-nums">NWG 2025</p>
          <div>
            <p class="text-sm text-current/60">
              Anna-Maria Jürgensen, Denise Weber, Thum Andreas, and Martin P.
              Nawrot
            </p>
            <p>
              Distributed reinforcement signals among drosophila larva
              dopaminergic neurons guide learning in individual mushroom body
              compartments
            </p>
          </div>
          <p class="text-current/50 tabular-nums">FENS 2024</p>
          <div>
            <p class="text-sm text-current/60">
              Anna-Maria Jürgensen, Panagiotis Sakagiannis, Felix J. Schmitt,
              Michael Schleyer, Bertram Gerber, and Martin P. Nawrot
            </p>
            <p>
              Circuit motifs for learning with reinforcement prediction in the
              drosophila mushroom body
            </p>
          </div>
          <p class="text-current/50 tabular-nums">BonnBrain 2024</p>
          <div>
            <p class="text-sm text-current/60">
              Anna-Maria Jürgensen, Panagiotis Sakagiannis, Felix J. Schmitt,
              Michael Schleyer, Bertram Gerber, and Martin P. Nawrot
            </p>
            <p>
              Circuit motifs for sensory integration, learning, and the
              initiation of adaptive behavior in larval drosophila
            </p>
          </div>
          <p class="text-current/50 tabular-nums">
            Champalimaud Neuroscience Symposium 2023
          </p>
          <div>
            <p class="text-sm text-current/60">
              Anna-Maria Jürgensen, Felix J. Schmitt, and Martin P. Nawrot
            </p>
            <p>
              Minimal circuit motifs for second order conditioning in the insect
              mushroom body
            </p>
          </div>
          <p class="text-current/50 tabular-nums">Bernstein Conference 2022</p>
          <div>
            <p class="text-sm text-current/60">
              Anna-Maria Jürgensen, Panagiotis Sakagiannis, Michael Schleyer,
              Bertram Gerber, and Martin P. Nawrot
            </p>
            <p>
              Prediction error drives associative olfactory learning and
              conditioned behavior in a spiking model of drosophila larva
            </p>
          </div>
          <p class="text-current/50 tabular-nums">Areadne Conference 2022</p>
          <div>
            <p class="text-sm text-current/60">
              Anna-Maria Jürgensen, Panagiotis Sakagiannis, Michael Schleyer,
              Bertram Gerber, and Martin P. Nawrot
            </p>
            <p>
              Modeling continous learning and adaptive behavior in drosophila
              larva
            </p>
          </div>
          <p class="text-current/50 tabular-nums">NWG 2019</p>
          <div>
            <p class="text-sm text-current/60">
              Anna-Maria Jürgensen, Michael Schleyer, Bertram Gerber, and Martin
              P. Nawrot
            </p>
            <p>
              Olfactory learning in drosophila larva can be accounted for by
              plasticity of the synapses between Kenyon cells and mushroom body
              output neurons
            </p>
          </div>
          <p class="text-current/50 tabular-nums">CNS 2019</p>
          <div>
            <p class="text-sm text-current/60">
              Anna-Maria Jürgensen, Afshin Khalili, and Martin P. Nawrot
            </p>
            <p>
              Reinforcement-mediated plasticity in a spiking model of the
              drosophila larva olfactory system
            </p>
          </div>
          <p class="text-current/50 tabular-nums">Bernstein Conference 2019</p>
          <div>
            <p class="text-sm text-current/60">
              Anna-Maria Jürgensen, Michael Schleyer, Bertram Gerber, and Martin
              P. Nawrot
            </p>
            <p>
              Reinforcement-mediated plasticity in a spiking model of the
              drosophila larva olfactory system
            </p>
          </div>
          <p class="text-current/50 tabular-nums">
            Symposium Neurowissenschaften Köln 2018
          </p>
          <div>
            <p class="text-sm text-current/60">
              Anna-Maria Jürgensen, Hannes Rapp, Rinaldo Betkiewicz, and Martin
              P. Nawrot
            </p>
            <p>
              From dense to sparse coding in a spiking model of the drosophila
              larva olfactory system
            </p>
          </div>
          <p class="text-current/50 tabular-nums">Bernstein Conference 2018</p>
          <div>
            <p class="text-sm text-current/60">
              Anna-Maria Jürgensen, Hannes Rapp, Rinaldo Betkiewicz, and Martin
              P. Nawrot
            </p>
            <p>
              From dense to sparse coding in a spiking model of the drosophila
              larva olfactory system
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="space-y-8">
      <h2
        class="relative text-2xl font-bold after:absolute after:-bottom-1 after:left-0 after:h-1 after:w-full after:bg-current/10"
      >
        Invited Talks
      </h2>
      <div class="grid grid-cols-1 gap-x-8 gap-y-4 md:grid-cols-[200px_1fr]">
        <p class="text-current/50 tabular-nums">2023</p>
        <div>
          <p>
            Using circuit models to explore prediction error in insect learning
          </p>
          <p>Max-Planck-Institut für Dynamik und Selbstorganisation</p>
        </div>
        <p class="text-current/50 tabular-nums">2022</p>
        <div>
          <p>A Spiking Model of Drosophila Larva Olfactory Learning</p>
          <p>Arthropod Neuroscience Network, University of Cologne</p>
        </div>
      </div>
    </div>
    <div class="space-y-8">
      <h2
        class="relative text-2xl font-bold after:absolute after:-bottom-1 after:left-0 after:h-1 after:w-full after:bg-current/10"
      >
        Awards & Funding
      </h2>
      <div class="grid grid-cols-1 gap-x-8 gap-y-4 md:grid-cols-[200px_1fr]">
        <p class="text-current/50 tabular-nums">2025 - 2027</p>
        <p>
          Postdoctoral Fellowship - Marie Skłodowska-Curie Actions, European
          Union
        </p>
        <p class="text-current/50 tabular-nums">2025</p>
        <p>Postdoctoral Fellowship - Walter Benjamin, DFG (declined)</p>
        <p class="text-current/50 tabular-nums">2025</p>
        <p>
          Postdoctoral Fellowship - Newton international fellowship, Royal
          Society (shortlisted)
        </p>
        <p class="text-current/50 tabular-nums">2019 - 2023</p>
        <p>
          RTG associated, Graduate school Neural circuit analysis on the
          cellular and subcellular level, University of Cologne
        </p>
        <p class="text-current/50 tabular-nums">2022</p>
        <p>Cornelia Harte Mentoring PRO, University of Cologne</p>
        <p class="text-current/50 tabular-nums">2015</p>
        <p>Erasmus+, European Union</p>
      </div>
    </div>
  </div>
</Layout>
